body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
  line-heiht: 1.5;
  color: #333333;
}

.container {
  width : 100%;
  margin: auto;
  background-color: tomato;
  position: fixed;
  padding-top: 10px;
  padding-left: 10px;
  z-index: 10;
}

nav{
  float: right;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
float: left;
  padding: 0 10px 0 10px;
  display: inline;
}
.carousel{
  float:left;
  position: relative;
  top: -4;
  font-weight: bolder;
}

.navbar {
    float: left;
    position: relative;
    top: 19px;
    padding-left: 10px;
}

nav ul li a{
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a:hover{
  color: #555555;
  font-size: 19px;
}

.showcase{
  min-height: 400px;
  background-image: no-repeat;
}

.showcase img {
  width: 100%;
  height: 470px;
  overflow: hidden;
    opacity: 0.8;
    z-index: -1;
}

.showcase img:hover{
  opacity:1;
}

.showcase h1, .showcase p {
  position: relative;
  top: -300px;
  text-align: center;
  font-size: 30px;
}

.showcase h1 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 40px;
}

.block{
  text-align: center;
}

.block a {
  text-decoration: none;
  border: 10px solid #222222;
  background: #222222;
  color: white;
  border-radius: 10px;
}

.block{
 display: flex;
 flex-direction: column;
 margin-left: 35%;
 margin-right: 35%;
 margin-bottom: 10%;
}

.block a:hover{
 background: #333333;
 border: 10px solid #333333;
}

.block img{
  width: 200px;
  height: 200px;
  margin: auto;
}


.footer{
  width: 100%;
  background-color: #cccccc;
  margin-top: 20px;
    position: absolute;
  }

.footer p {
  margin-left: 20px;
}

.footer ul {
  margin: 0;
  list-style:  none;
  display: inline;
  position: relative;
  float: right;

}

.footer ul li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

hr {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
}

